<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text text-center" >Đây là bố yêu của tôi</h1>
    <p>Là 1 người đàn ông rất tuyệt vời nhưng ngày xưa hơi nghiêm khắc và khá là "ra chưởng :v"với tôi. Chắc có lẽ do ảnh hưởng từ ngành công việc nên bố tôi khá nghiêm khắc trong mọi việc. Nhưng may mắn là sau khi tôi 18 thì bố tôi có vẻ khá thoải mái hơn chút.
        nhưng bố tôi vẫn khá là nóng tính. Mong sao bố của tôi luôn luôn mạnh khỏe để chửi tôi nhiều hơn :v.
    </p>
    <div class="container mt-6">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://i.imgur.com/1HSABEj.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Bố yêu của tôi</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div><div class="col-md-6">
                <div class="card">
                    <img src="https://i.imgur.com/9dx1GmC.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">3 bố con vui chơi bên nhau</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>