<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text text-center" >Welcome everyone to my family website</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.imgur.com/JdYZU07.jpeg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">happy family</h5>
                        <p class="card-text">gia đình quây quần đón mừng sinh nhật.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.imgur.com/eog3zjQ.jpeg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Huế</h5>
                        <p class="card-text">tết dương lịch cả nhà đi Huế.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://i.imgur.com/CoyIs9w.jpeg" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Wedding</h5>
                        <p class="card-text">Chúc mừng anh chị cưới.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>