<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card with Images</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text text-center">Người cuối cùng trong nhà này còn độc thân là bản thân tôi. Đang học IT của Greenwich và cố học thêm tiếng nhật để có thể
        trở thành bridgeSE. よろしくお願いします!!.
    </h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <img src="https://i.imgur.com/88Ay5JB.jpeg" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://i.imgur.com/piBrVjV.jpeg" class="card-img-top" alt="Image 2">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <img src="https://i.imgur.com/53LgVPI.jpeg" class="card-img-top" alt="Image 3">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>